<p id="notice"><%= notice %></p>

<h1>Blogs</h1>
<%= link_to 'New Blog', new_blog_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <%= render @blogs %>

</table>

<br>

