<div class="form-group nested-fields">
    <% minus = fa_icon "minus-square" %>
    <%= f.label :name =%>
     <div class="icon-big">
      <%= f.text_field :name, class: 'form-control'=%> <%= link_to_remove_association minus, f %>
    </div>
  </div>