<h1>Portfolio Items</h1>

<% @portfolio_items.each do |portfolio_item| %>
  <h2>This the title - <%= portfolio_item.title %></h2> 
  <h3><%= portfolio_item.subtitle %></h3> 
  <p><%= portfolio_item.body %></p> 
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %><hr>
<% end %>
