<div class="container application-render">
  <h1>About Vedant</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "https://i.imgur.com/SDqbfd4.jpg", width: 300, alt: "Office Office" %>
      </div>
      <div class="col-md-8">
          <p>Well that was the end of it and my life goals didn’t align with my 10-year-old self until I joined my college and started learning about all these wonderful founders (through story books or biographies or memoirs) who made a dent in the universe. As you can guess, Steve Jobs was one of the people who influenced me the most.</p>
        <em>( Note : I even wanted to be an astronomer for a few years in between.)</em>
        <p>I now embark on a new path in life, and I intend to document that journey through this blog. I’ll share my entrepreneurial struggle each week and this was week zero.</p>
      </div>
    </div>
</div>
