<div class="container application-render">
  <div class = "card">
    <h1>This is how you reach me.</h1><br>
    <div  class="row">
      <div class="col-md-6">
         <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14887.809094264065!2d79.0701438!3d21.11446885!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4bf78bb933bcf%3A0x7911878f235475a!2sOrange+City+Hospital+%26+Research+Institute!5e0!3m2!1sen!2sin!4v1553148827973" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
         <h4>Call me on <u> +91 9767137428 </u></h4> <br>
         <span class="btn btn-info"><a href=" :mailto:vedant.lohbare@gmail.com?subject= Hi Vedant saw your portfolio" "email me"> Email Me </a> </span>
      </div>
    </div>
  </div>
</div>
