<div class="inner cover">
  <h1 class="cover-heading">This is my Portfolio</h1>
  <p class="lead">Hi, I am Vedant Lohbare. Click on the button below to know more about me!</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
  <%= render "shared/application_footer" %>
</div>
