<h3>What does twitter have to say about rails?</h3>

<div class="row">
  <% @tweets.each do |tweet| %>
    <div class= "col-md-6">
      <div class= "tweet-card">
        <div class= "card">
          <%= tweet_parser tweet %>
        </div>
      </div>
    </div> 
  <% end %>  
</div>
